ID_1	ID_2	missing
0	0	0
IZA1	IZA1	0
IZC5	IZC5	0
AUE7	AUE7	0
AXD5	AXD5	0
JBD5	JBD5	0
JBD6	JBD6	0
JUH9	JUH9	0
JUI1	JUI1	0
LJC9	LJC9	0
LJD1	LJD1	0
KHA7	KHA7	0
KHA9	KHA9	0
IVE8	IVE8	0
IVF1	IVF1	0
JWH1	JWH1	0
JWH2	JWH2	0
JWG8	JWG8	0
JWG9	JWG9	0
JWH3	JWH3	0
JWH4	JWH4	0
JWH5	JWH5	0
JWH6	JWH6	0
ISA6	ISA6	0
ISB3	ISB3	0
ISA8	ISA8	0
IYA4	IYA4	0
KFD2	KFD2	0
KFD4	KFD4	0
